<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head.ejs") %>
        <title>AddBlog</title>
</head>

<body>
    <%- include("./partials/nav.ejs") %>

        <div class="container mt-4">
            <form method="post" action="/blog" enctype="multipart/form-data">

                <div class="mb-3">
                    <label for="file" class="form-label">Cover Image</label>
                    <input type="file" class="form-control" id="coverImg" name="coverImg">
                </div>

                <div class="mb-3">
                    <label for="title" class="form-label my-2">Title</label>
                    <input type="text" class="form-control" id="title" name="title">
                </div>

                <div class="mb-3">
                    <label for="content" class="form-label">Content</label>
                    <textarea type="text" class="form-control" id="content" name="content"></textarea>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>

        <%- include("./partials/scripts.ejs") %>
</body>

</html>